@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}


<form method="get">
        <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Restaurant name" aria-label="Restaurant name" asp-for="SearchTerm">
              <div class="input-group-append">
                    <button class="btn btn-default">Search</button>
              </div>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Cuisine</th>

    </tr>
    @foreach(var restaurant in Model.restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a asp-page="./Details" asp-route-restaurantId="@restaurant.Id" class="btn btn-outline-primary">Details</a>
                <a asp-page="./Edit" asp-route-restaurantId="@restaurant.Id" class="btn btn-outline-primary">Edit</a>

            </td>
        </tr>
    }
</table>